.container{
    display: flex;
    justify-content: space-around;
    /*background-color: #333333;*/
    background: linear-gradient(yellow, black);
    align-items: center;
    height: 300px;
}

.img{
    width: 300px;
}

.name{
    color: #dcdc36;
}

.right{

}