.headerWrap{
    /*text-align: center;*/
    background-position: center center;
    width: 100%;
    background-size: cover;
}
.title{
    font-family: "Raleway";
    font-size: 80px;
    color:white;
    text-align: center;

}

.aboutMe{
    font-family: "Raleway";
    font-size: 20px;
    color:white;
}

.intro,.contactIntro{
    color: white;
    background-color: #333333;
    border-radius: 20px;
    /*padding: 30px 0px 30px 0px;*/
}
.aboutText{
    font-size: 18px;
    line-height: 28px;
    font-family: 'Lato';
    display: flex;
}
.aboutBox{
    width: 16.6%;
    margin-right: 8%;
}

.meBox{
    padding: 0px 16px 0px 16px;
    width: 50%;
}
.boxDownload{
    width: 25%;
}

.about{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}


.education,.work,.contact{
    padding-top: 50px;
}

.educationType,.workType{
    grid-area: b;
    margin-left: 10px;
}
.educationGratuating,.workGratuating{
    grid-area: c;
}
.raleway{
    font-family: "Raleway";
    font-weight: bold
}
.latoRegular{
    font-family: 'Lato-Regular';
    font-weight: 700;
    color: #34495e;
    text-align: center;
}
.educationClass,.workClass{
    grid-area: d;
    margin-left: 10px;
}
.educationGratuatingTwo,.workGratuatingTwo{
    grid-area: e;
}
.lato{
    font-family: 'Lato';
    line-height: 28px;
}
.latoItalic{
    font-family: 'Lato';
    line-height: 28px;
    font-style: italic;
}
hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
.flex{
    display: flex;
    column-gap: 15px;
}

.profileTitle,.skillsTitle{
    font-family: 'Lato-Regular';
    font-weight: 700;
    color: white;
}
.profileText,.skillsText{
    line-height: 2rem;
    font-family: 'Lato';
    font-size: 1.2rem;
}
.profileFullname,.profileBirthDate,.profileJob,.profileWebsite,.profileEmail{
    margin-top: 20px;
}
.profile h3{
    font-family: 'Lato-Regular';
    font-weight: 700;
    color: #e3ebf6;
}

.profile p {
    font-family: 'Lato';
    line-height: 28px;
    margin-top: 5px;
}

.editableTypography{
    color:white;
    text-align: center;
}
.nameInput{
    font-size: 80px;
}
.titleInput{
    font-size: 20px;
    width: 100%;
}
.aboutMeInput{
    font-size: 18px;
}
.marginTop{
    margin-top:40px;
}
.buttonEdit{
  margin-left: 90%;
    margin-top: 40px;
    padding: 20px;
    background-color: #2ecc71;
    border-radius: 20px;
}
.but{
    padding: 10px;
    background-color: #2ecc71;
    border-radius: 20px;
    margin: 5px;
}

.buttons{
    display: flex;
    justify-content: end;
    margin-right: 50px;
    margin-top: 40px;
}


.section{
    min-height: 0;
    background: linear-gradient(to top, green, 20%, yellow);
}
