@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Montserrat:wght@100;300&family=Redressed&display=swap');

.container{
    /*display: flex;*/
    margin: 200px;
    padding: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 29px;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Montserrat', sans-serif;
    /*font-family: 'Redressed', cursive;*/
}