$yellow: #f1c40f;
$red: #e74c3c;
$blue: #3498db;
$green: #2ecc71;
.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid $red;
  border-radius: 0.6em;
  color: $red;
  cursor: pointer;
  //display: flex;
  align-self: center;
  font-size: 1rem;
  //font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em ;
  text-decoration: none;
  text-align: center;
  align-content: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

  &:hover,
  &:focus {
    color: #fff;
    outline: 0;
  }
}


.fourth {
  // background: $yellow;
  border-color: $yellow;
  color: #fff;
  background: {
    image: linear-gradient(45deg,$yellow 50%, transparent 50%);
    position: 100%;
    size: 400%;
  }
  transition: background 300ms ease-in-out;

  &:hover {
    background-position: 0;
  }
}

//Button 3

.third {
  border-color: $blue;
  color: #fff;
  width: 200px;
  box-shadow: 0 0 40px 40px $blue inset, 0 0 0 0 $blue;
  transition: all 150ms ease-in-out;

  &:hover {
    box-shadow: 0 0 10px 0 $blue inset, 0 0 10px 4px $blue;
    color: black;
  }
}

.thirdRegister {
  border-color: $green;
  color: #fff;
  width: 200px;
  box-shadow: 0 0 40px 40px $green inset, 0 0 0 0 $green;
  transition: all 150ms ease-in-out;

  &:hover {
    box-shadow: 0 0 10px 0 $green inset, 0 0 10px 4px $green;
    color: black;
  }
}